.precio {
	font-family: f(sans-serif);
	font-weight: 300;
	color: white;
	text-align: center;
	&--background-color {
		background-image: url('../images/bgc_price.svg');
		//background: linear-gradient(to right, rgba(0,167,206,1), rgba(0,158,178,1), rgba(0,192,201,1),rgba(0,167,206,1), rgba(0,158,178,1), rgba(0,192,201,1));
		background-size: cover;
	}
	&__title {
		font-size: 28px;
		margin-bottom: 3%;
		font-weight: 400;
		@include under(xs){
			font-size: 23px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 5px;
		}
	}
	&__paragraph {
		font-size: 18px;
	    line-height: 115%;
	    font-weight: 500;
	    padding: 0 35px;
	}
	&__plan {
		font-size: 25px;
		padding: 2% 0%;
		letter-spacing: 2px;
		font-weight: 500;
		max-width: 260px;
		margin-top: 16%;
		@include under(md) {
    		max-width: 90%;
    	}
    	@include under(three) {
    		max-width: 260px;
    	}
    	@include under(xs) {
    		margin-top: 16%;
    	}
		&-red {
		    background: linear-gradient(to right, #ce5747 0%, #ce4764 100%);
		    border-radius: 5px 5px 0 0;
		    margin-right: 15px;
		    @include under(md) {
		    	margin-right: auto;
		    } 
		}
		&-blue {
			background-color: c(other-blue);
			border-radius: 5px 5px 0 0;
			margin-left: 15px;
			@include under(md) {
		    	margin-left: auto;
		    }
		    @include under(xs) {
		    	margin-top: 10%;
		    }
		}
	}
	&__text {
		background-color: c(white);
		padding: 5% 0%;
    	max-width: 260px;
    	@include under(md) {
    		max-width: 90%;
    	}
    	@include under(three) {
    		max-width: 260px;
    	}
		&-pesos {
			color: c(medium-blue);
			font-size: 58px;
			margin-bottom: 11px;
			font-weight: 400;
		}
		&-time {
			font-size: 16px;
			font-family: f(sans-serif);
			font-weight: 400;
			color: c();
		}
		&-red {
			margin-right: 15px;
			@include under(md) {
		    	margin-right: auto;
		    }
		}
		&-blue {
			margin-left: 15px;
			@include under(md) {
		    	margin-left: auto;
		    }
		}
	}
	&__btn-ver-mas {
		width: auto;
		background-color: c(red);
		color: c(white);
		cursor: pointer;
		border-radius: 4px;
		border: none;
		font-size: 18px;
		padding: 7px 15px 7px 15px;
		margin-left: auto;
		margin-right: auto;
		font-family: f(sans-serif);
		font-weight: 300;
		position: relative;
		display: block;
		letter-spacing: 0.5px;
    	font-weight: 500;
		&:hover {
			background-color: c(white);
			color: c(red);
		}
		&-move {
			padding: 50px 0px 125px 0px;
			@include under(xs) {
				padding: 30px 0px 30px 0px;
			}
		}
		// @include under(three) {
		// 	width: 100%;
		// 	max-width: 175px;
		// }
		
	}
	&__bg-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.grid__box--prices-text {
    margin-top: 70px;
    @include under(xs) {
    	margin-top: 20px;
    }
}
