.video {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	&__text {
		color: c(white);
		font-family: 'ProximaNova-Light';
		font-size: 28px;
    	text-align: center;
	}
}